<div class="container border shadow p-5 my-10">

  <h1 class="text-center my-2 mb-5 text-primary">Aggiungi un nuovo prodotto</h1>
  <form>
    <div class="my-3">
      <div class="row my-2">
        <input type="text" [(ngModel)]="newProd.name" class="form-control" name="name" placeholder="Nome prodotto...">
      </div>
      <div class="row my-2">
        <label for="qta">Inserire quantità</label>
        <input type="number" [(ngModel)]="newProd.qta" class="form-control" name="qta" placeholder="Quantità...">
      </div>
      <div class="row my-2">
        <label for="prezzo">Inserire prezzo</label>
        <input type="number" [(ngModel)]="newProd.prezzo" class="form-control" name="prezzo" placeholder="Prezzo...">
      </div>
      <div class="row my-2">
        <input type="text" [(ngModel)]="newProd.descrizione" class="form-control" name="descrizione"
          placeholder="Descrizione...">
      </div>
      <div class="row my-2">
        <button type="button" class="btn btn-primary form-control" (click)="saveProduct()">{{nameButton}}</button>
      </div>
    </div>
  </form>
</div>